{% extends "mailing/base.html" %}

{% block title %}Информация о сообщении{% endblock %}

{% block content %}


<div class="card mt-4">
    <div class="card-header">
        <h2 class="card-title">Информация о сообщении</h2>
    </div>
    {% if message.owner == user or perms.mailing.can_view_all_messages %}
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Тема: {{ message.subject }}</li>
            <li class="list-group-item">Текст сообщения: {{ message.body_of_the_letter }}</li>
        </ul>
    </div>
    <div class="card-footer">
        <div class="btn-group">
            <a href="{% url 'mailing:message_update'  message.pk %}" class="btn btn-primary">
                Редактировать
            </a>
            <a href="{% url 'mailing:message_delete' message.pk %}" class="btn btn-danger">
                Удалить
            </a>
    {% endif %}
            <a href="{% url 'mailing:message_list' %}" class="btn btn-secondary">
                Назад
            </a>
        </div>
    </div>
</div>

{% endblock %}