{% extends 'mailing/base.html' %}
{% block title %}Добавить сообщение{% endblock %}
{% block content %}
<div class="card mt-4">
    <div class="card-header">
        <h2 class="mb-1">Добавить сообщение</h2>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.subject.label_tag }}
            {{ form.subject }}
        </div>
        <div class="form-group" style="margin-top: 15px;">
            {{ form.body_of_the_letter }}
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="{% url 'mailing:message_list' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}