{% extends 'mailing/base.html' %}
{% block title %}Информация о получателе{% endblock %}
{% include 'includes/inc_menu.html' %}
{% block content %}

<div class="card mt-4">
    <div class="card-header">
        <h2 class="card-title">Информация о получателе</h2>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">ФИО: {{ recipient.full_name }}</li>
            <li class="list-group-item">Email: {{ recipient.email }}</li>
            <li class="list-group-item">Комментарий: {{ recipient.comment|truncatechars:30 }}</li>
        </ul>
    </div>
    <div class="card-footer">
        <div class="btn-group">
            {% if recipient.owner == user or perms.user.recipient_delete %}
            <a href="{% url 'mailing:recipient_update' recipient.id %}" class="btn btn-primary">
                Редактировать
            </a>
            <form action="{% url 'mailing:recipient_delete' recipient.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Удалить</button>
            </form>
            {% endif %}
            <a href="{% url 'mailing:recipient_list' %}" class="btn btn-secondary">
                Назад
            </a>
        </div>
    </div>
</div>

{% endblock %}